*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: roboto-condensed, sans-serif;
    background: rgb(10, 10, 10);
    overflow-x: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    /* mix-blend-mode: difference; */
}

h1 {
    font-size: 10vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#blocker{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

section {
    height: 100vh;
}

.titles{
    position: absolute;
    display: grid;
    /* padding: 20px;
    gap: 20vw; */

    
    width: fit-content;
    height: fit-content;
    top: 0.5%;
    left: 1%;
    /* transform: translate(-50%, -50%) scale(1); */

    /* justify-content: center;
    align-items: center; */
    transition: all 500ms ease-in-out;
}

.title
{
    /* position: absolute; */
    /* top: 1vh;
    right: 1.5vh; */
    mix-blend-mode: difference;
    opacity: 100%;
    width: fit-content;
    height: fit-content;
    pointer-events: auto;

    font-size: 5vh;
    color: white;

    transition: opacity 0.25s;
}

.title:hover
{
    opacity: 50%;
    transition: opacity 0.25s;
}

iframe{
    opacity: 0%;
    transition: all 500ms ease-in-out;
}
iframe.active{
    opacity: 100%;
    transition: all 500ms ease-in-out;
}

.navigation{
    position: absolute;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav nav nav nav";
    
    max-width: 80vh;
    max-height: 80vh;
    /* padding: 20px;
    gap: 20vw; */

    
    width: 60%;
    bottom: 2.5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    justify-content: center;
    align-items: center;
    
    /* gap: 20px; */
    transition: all 500ms ease-in-out;
}

.navigation .nav{

    height: 3.5vh;
    width: 7vh;
    border-radius: 10%;
    margin: 0.75vh;

    font-family: roboto-condensed, sans-serif;

    color: white;
    background-color:null;
    outline: auto;
    mix-blend-mode: difference;
    transition: all 500ms ease-in-out;
}

.navigation .nav:hover{
    background-color:white;
}

.navTitle{
    border-radius: 10%;
    grid-template-areas: none;
    position: relative;
    text-align: center;
    
    font-size: 2vh;
    opacity: 0%;
    color: white;
    top: -100%;
    transition: all 500ms ease-in-out;
}

.navigation .nav:hover > .navTitle 
{ 
    opacity: 100%;
    transition: all 500ms ease-in-out;
}


.progressContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: black;
    color: black;
    opacity: 100%;
    left: 0px;
    top: 0px;
    mix-blend-mode: normal;
}

.progressContainer.disabled{
    opacity: 0%;
    pointer-events: none;
    transition: all 500ms ease-in-out;
}

.progress {
    position: absolute;
    width: 50vw;
    height: 1vh;
    z-index: 100;
    opacity: 100%;
    transition: all 500ms ease-in-out;
  }
  
  .progress__fill{
    width: 60%;
    height: 100%;
    background: white;
    border-radius: 10px;
    opacity: 100%;
    transition: all 500ms ease-in-out;
  }
  
  .progress.disabled{
    opacity: 0%;
    pointer-events: none;
    transition: all 500ms ease-in-out;
  }